* {
    box-sizing: border-box;
  }
  
  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
  }

.card {
    --blur: 16px;
    --size: clamp(300px, 50vmin, 600px);
    width: var(--size);
    aspect-ratio: 4 / 3;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    color: #000;
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
    
}

.card-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-footer {
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    /* display: grid;
    gap: 0.5ch; */
    background: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(var(--blur));
    height: 30%;
    align-content: center;
    transition: height 0.8s;
    overflow: hidden;
    text-overflow: clip;
}



.card:hover .card-footer{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card:hover .descr {
  display: flex;
}

.card:hover .lien-repo {
  display: flex;
  text-decoration: none;
  color: brown;
}

.lien-repo:hover{
  border-bottom: 1px solid brown;
}

.descr{
  display: none;
}

.lien-repo{
  display:none;
  font-size: 12px;
}

.card-footer h2 {
  margin-bottom: 6px;
  font-size: 18px;
}

.card-footer p {
  margin-top: 0;
  font-size: 12px;
}

